/* Estilo Base do Modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
  }
  
  .modal-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    z-index: 100;
    transition: all 0.3s ease-in-out;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
  }
  
  .modal-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .modal-close-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .modal-body {
    padding: 20px 0;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #eaeaea;
  }
  
  /* Botões */
  .button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .button-cancel {
    background-color: #f44336;
    color: white;
  }
  
  .button-comment {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Área de Texto */
  .textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
  }
  
  /* Estrelas de Avaliação */
  .star-rating {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #ffc107;
  }
  
  .star-rating .star {
    cursor: pointer;
    transition: color 0.2s ease-in-out;
  }
  
  .star-rating .star:hover {
    color: #ffb300;
  }
  .comments-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }